// See http://getbootstrap.com/customize/#less-variables
// for a full list of available varaibles.

// Mediaquery settings
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

// Grid settings
$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-float-breakpoint: $screen-sm-min;

// Container sizes (max container widths for different viewport sizes)
$container-sm: (720px + $grid-gutter-width);
$container-md: (940px + $grid-gutter-width);
$container-lg: (1140px + $grid-gutter-width);
