// The files will be inlined via base64.
// Only declare .woff file types to keep the size small

@font-face {
    font-family: 'marck_scriptregular';
    src: url('../fonts/optimized/MarckScript-Regular/marckscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/optimized/Montserrat-Bold/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
